{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a href="store" class="btn btn-outline-dark">continue shopping</a>
        
        <br>
        <br>
        <table class="table">
            <tr>
                <th><h5>Item: <strong>3</strong></h5></th>
                <th><h5>Total: <strong>500</strong></h5></th>
                <th><a class="btn btn-success" style="float: right; margin: 5px;" href="checkout">Checkout</a> </th>
            </tr>

        </table>
    </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div  style="flex: 2;"></div>
                <div  style="flex: 2;"><strong>Item</strong></div>
                <div  style="flex: 1;"><strong>Price</strong></div>
                <div  style="flex: 1;"><strong>Quantity</strong></div>
                <div  style="flex: 1;"><strong> Total </strong></div>
            </div>
            {% for i in item %}
            <div class="cart-row">
                <div  style="flex: 2;"><img src={{i.product.imageurl}} alt="placeholder"></div>
                <div  style="flex: 2;">{{i.product.name}}</div>
                <div  style="flex: 1;">{{i.product.price}}</div>
                <div  style="flex: 1;">
                <p style="display: inline-block;
                font-weight: 700;
                padding-right:10px;">{{i.quantity}}</p> 
                <div style="display: inline-block;
                font-weight: 700;
                padding-right:10px;"><i class="fas fa-sort-up" style="width: 12px;
                    cursor: pointer;
                    display: block;
                    margin-top: 5px;
                    transition:.1s;"></i>
                    <i class="fas fa-caret-down" style="width: 12px;
                    cursor: pointer;
                    display: block;
                    margin-top: -6px;
                    transition:.1s;"></i>
                    </div>
                
                </div>
                <div  style="flex: 1;"><strong>${{i.get_total}}</strong></div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock content%}